/* Definindo a codificação de caracteres */
@charset "ISO-8859-1";

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.social-links a {
    text-decoration: none;
    color: #0077b5;
    margin: 0 5px;
}

.social-links a:hover {
    text-decoration: underline;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.personal-details {
    flex: 1;
}

section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #0077b5;
    padding-bottom: 5px;
}

section p {
    margin: 10px 0;
}

strong {
    color: #0077b5;
}
